.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.navbar-default.navbar-fixed-top
{
	position: relative;
	z-index: 10;
	/*background-color: #e7e7e7;*/
    background-color: #F0F0F0;
    /*margin-top: -20px;*/


}

body
{
    /*background-color: #82BBAC;*/
    /*height: 100%;*/
    /*background-repeat: no-repeat;*/
    background-image: url("../images/fondo.png");
}


